@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout_Inicio.cshtml";
}

<div class="top-bar home">
    <h1>Contacto</h1>
    <p>@Html.ActionLink("Inicio", "index", "Home") / Contacto</p>
</div>
<!-- end top bar -->

<div class="container main-container">
    <div class="clearfix">

        <!-- service-box -->
        <div class="portfolio-div">
            <div class="portfolio">
                <div class="no-padding portfolio_container">
                    <!-- single work -->
                    <div class="col-md-3 col-sm-6  fashion logo">
                        <a href="#" class="portfolio_item">
                            <img src="~/Content/img/portfolio/Carol.jpeg" alt="image" class="img-responsive size-img" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>Carol Borbon</span>
                                        <h4>cbborbon@misena.edu.co</h4>
                                        <h4>Desarrolladora</h4>
                                        <h4>Analista</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end single work -->
                    <!-- single work -->
                    <div class="col-md-3 col-sm-6 ads graphics">
                        <a href="#" class="portfolio_item">
                            <img src="~/Content/img/portfolio/Nicol.jpeg" alt="image" class="img-responsive size-img" width="575px" height="600px" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>Nicol Rodriguez</span>
                                        <h4>inrodriguez19@misena.edu.co</h4>
                                        <h4>Desarrolladora</h4>
                                        <h4>Analista</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end single work -->
                    <!-- single work -->
                    <div class="col-md-3 col-sm-6 fashion ads">
                        <a href="#" class="portfolio_item">
                            <img src="~/Content/img/portfolio/Luisa.jpeg" alt="image" class="img-responsive size-img" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>Luisa Quiroga</span>
                                        <h4>lfquiroga8@misena.edu.co</h4>
                                        <h4>Desarrolladora</h4>
                                        <h4>Analista</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 ads graphics">
                        <a href="#" class="portfolio_item">
                            <img src="~/Content/img/portfolio/Julian.jpeg" alt="image" class="img-responsive size-img" width="575px" height="600px" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>Julian Tunjuelo</span>
                                        <h4>jetunjuelo@misena.edu.co</h4>
                                        <h4>Desarrollador</h4>
                                        <h4>Analista</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end single work -->
                    <!-- single work -->
                    <div class="col-md-3 col-sm-6 graphics ads">
                        <a href="#" class="portfolio_item">
                            <img src="~/Content/img/portfolio/jhon.jpeg" alt="image" class="img-responsive size-img" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>Jhon Urueña</span>
                                        <h4>jeuruena49@misena.edu.co</h4>
                                        <h4>Desarrollador</h4>
                                        <h4>Analista</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end single work -->
                    
                    <!-- end single work -->

                </div>
            </div>
        </div>

    </div>
</div>
